* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Vudotronic-X3A49;
    src: url('../fonts/vudotronic-font/Vudotronic-X3A49.ttf');
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/manha.webp');
    background-size: contain;
    backdrop-filter: blur(100px);
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(240, 240, 240);
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    width: 70%;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    gap: 10px;
}

section div #message {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

section .box {
    display: flex;
    gap: 30px;
}

#horas,
#minutos,
#segundos {
    color: rgb(21, 0, 0);
    font-weight: bold;
}

section .box .cumprimento {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Vudotronic-X3A49;
    font-size: 40px;
    color: rgb(55, 55, 55)
}

#image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 35px;
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: center;
    color: rgb(238, 238, 238);
    font-family: sans-serif;
}

footer svg {
    fill: rgb(247, 247, 247);
    height: 20px;
    filter: drop-shadow(1px 1px 5px rgb(129, 129, 129));
    cursor: pointer;
    transition: 0.5s ease;
}

footer svg:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 510px) {
    section{
        text-align: center;
    }

    section .box{
        display: flex;
        flex-direction: column;
    }
}

/*RELOOGIO ANALOGICO*/
.box .img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .img #clock {
    position: absolute;
}

#clock{
    position: absolute;
    width: 200px;
    height: 200px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

.number {
    position: absolute;
    width: 90%;
    height: 90%;
    color: rgb(243, 243, 243);
    font-weight: bold;
    z-index: 1;
}

/*tracos*/
#clock .number:nth-child(1){
    transform: rotate(30deg);
}

#clock .number:nth-child(2){
    transform: rotate(60deg);
}

#clock .number:nth-child(3){
    transform: rotate(90deg);
}

#clock .number:nth-child(4){
    transform: rotate(120deg);
}

#clock .number:nth-child(5){
    transform: rotate(150deg);
}

#clock .number:nth-child(6){
    transform: rotate(180deg);
}

#clock .number:nth-child(7){
    transform: rotate(210deg);
}

#clock .number:nth-child(8){
    transform: rotate(240deg);
}

#clock .number:nth-child(9){
    transform: rotate(270deg);
}

#clock .number:nth-child(10){
    transform: rotate(300deg);
}

#clock .number:nth-child(11){
    transform: rotate(330deg);
}

#clock .number:nth-child(12){
    transform: rotate(0deg);
}

#ponteiros {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#circle{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgb(155, 0, 0);
    z-index: 10;
    border-radius: 50%;
}

#ponteiro-hora,
#ponteiro-minuto {
    position: absolute;
}

#ponteiro-hora::after {
    content: '';
    display: block;
    width: 4px;
    height: 40px;
    background-color: rgb(236, 236, 236);
    transform: translateY(-50%);
    border-radius: 10px;
}

#ponteiro-minuto::after {
    content: '';
    display: block;
    width: 4px;
    height: 60px;
    background-color: rgb(218, 218, 218);
    transform: translateY(50%)  rotate(180deg);;
    border-radius: 10px;
    transform-origin: top;
}

#ponteiro-segundo::after {
    content: '';
    display: block;
    width: 2px;
    height: 80px;
    background-color: rgb(155, 0, 0);
    transform: translateY(50%)  rotate(180deg);;
    border-radius: 10px;
    transform-origin: top;
}